{% extends "base.html" %}

{% block head %}
    <title>To Do</title>
{% endblock %}


{% block add_task %}
    {% include 'add_task.html' %}
{% endblock %}

{% block body %}
    <div class="row">
        <!-- H1 -->
        <div class="col">
            <h1 class="my-3">Tasks</h1>
        </div>
        
        <!-- Display list or tile -->
        <div class="col-auto align-self-center">
            <div class="btn-group" role="group" aria-label="Display">
                <a href="#" class="btn btn-secondary active"><i class="fa fa-list" aria-hidden="true"></i></a>
                <a href="{{url_for('index_tiles')}}" class="btn btn-secondary"><i class="fa fa-th" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>

    {% include 'display_tasks_as_list.html' %}

    {% include 'modal_edit_task.html' %}
    {% include 'modal_delete_task.html' %}

<!-- end body block -->
{% endblock %} 




